@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

.jumbotron{
    background-image: url(img/montserrat-g444496264_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;


}
h1{
    color: orange;
    text-shadow: 0 0 5px #222;
    font-size: 45px;
}
.jumbotron p{
    color: #fff;
    font-size: 30px;
}
.nav-link{
    color: #000 !important; 
}

h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}
.n-left{
    height: 500px;
    background-color: orange;
}
.n-right{
    height: 500px;
    background-color: black;
    
}
.n-right img{
    width: 100%;
}